@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

*{
    font-family: "Poppins-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/Everest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section{
    color: white;
    font-size: 1.5rem;
    text-align:right;
    position: absolute;
    top: 200px;
    right: 150px;
}