*{
    margin: 0;
    padding: 0;
}

body{
    margin: 30px;
}

section{
    border: 2px solid black;
}

ul{
    list-style: none;
    padding-inline-start: 1.2em;
}

li{
    font-size: 0.8em;
    line-height: 1.5em;
}

.dog li::marker{
    content: "\1F436";
}

.cat li::marker{
    content: "\1F431";
}

.parrot li::marker{
    content: "\1F99C";
}

.snake li::marker{
    content: "\1F40D";
}

.lizzard li::marker{
    content: "\1F98E";
}